[submodule "themes/academimal"]
	path = themes/academimal
	url = https://github.com/aswanijeet1412/academimal
[submodule "themes/academia"]
	path = themes/academia
	url = https://github.com/aswanijeet1412/academia
[submodule "themes/acad"]
	path = themes/acad
	url = https://github.com/aswanijeet1412/academimal
